<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/user/Repositories/Story-Engine">
        <classes>
            <class name="com.storyengine.narrative.NarrativeTest">
                <methods>
                    <include name="shouldAnswerWithTrue"/>
                </methods>
            </class>
            <class name="com.storyengine.tarot.TarotTest">
                <methods>
                    <include name="shouldAnswerWithTrue"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>